.CodeMirror {
            border: 1px solid #eee !important;
            height: auto !important;
}
.CodeMirror-scroll {
            overflow-y: hidden !important;
            overflow-x: auto !important;
}